.App {
  text-align: center;
}
h1 {
  font-size: 65px;
  margin-bottom: 0px;
}
span {
  color: #9CA6A5;
  font-size: 15px;
}
.unite {
  display: flex;
  justify-content: space-between;
  margin: 0px 562px;
}